#board{
    width: 700px;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.deck{
    border: 1px solid black;
    background-color: antiquewhite;
    display: inline-block;
    width: 50px;
    height: 75px;
}

#stock{
    float: left;    
}

#foundation{
    float: right;    
}

#pile{
    margin-top: 100px;
}